<div id="footer">
	<div class="ui container">
		<div class="ui grid">
			<div class="eight wide column">
				<p>This software is coded by jmuraca to run on a KNK Force and the source is available at <a href="https://github.com/jmuraca/knkforce/" target="_new">https://github.com/jmuraca/knkforce/</a><br />
				It is open for you to hack so please help to contribute new features and make it even more awesome! <i class="icon heart"></i></p>
			</div>
			<div class="eight wide column">
				<p>The Klic-N-Kut name and logo, and the KNK Force name and logo, are trademarks of <a href="http://knkusa.com/" target="_new">AccuGraphic Sales, Inc.</a></p>
				<p>KNK Force is distributed in Australia and New Zealand by <a href="http://www.skatkatz.com.au" target="_new">Skat Katz</a></p>
			</div>
		</div>
	</div>
</div>