<html>
<head>
	<title>KNK FORCE</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/semantic/semantic.min.css') }}">
	
	<script src="{{ url_for('static',filename='js/cutter.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery-1.12.0.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/semantic.min.js') }}"></script>

</head>
<body>
	{% include 'header.html' %}
	
<div class="ui main container">

	<div class="ui grid">
		<div class="eight wide column">
			<div class="ui segment">
				<form class="ui form" id="upload-file" method="post" enctype="multipart/form-data">
					 <div class="field">
						<label>Load a File</label>
						<input class="ui button" name="file" type="file" accept=".svg">
					</div>
					<div class="field">
						<button class="ui button" id="upload-file-btn" type="button">Upload</button>
						<button class="ui primary button" id="button_cut" type="button"><i class="cut icon"></i>Cut!</button>
					</div>
				</form>
			</div>
			
			<div class="ui segment">
				<div class="ui form">
					<div class="field">
						<label for="setting_scale" value="Scale">Scale</label>
						<input type="text" name ="setting_scale"/>
					</div>
				</div>
			</div>
			
			<div class="ui segment">
				<div class="ui form">
					<div class="field">
						<label for="setting_passes" value="Passes">Passes</label>
						<select id="setting_passes" name="setting_passes">
							{% for x in range (0, 10) %}
							<option value="{{x}}">{{x}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="field">
						<label for="setting_depth" value="Cutting Depth">Cutting Depth</label>
						<input type="text" name ="setting_depth" />
					</div>
				</div>
			</div>
		</div>
		<div class="eight wide column" id="image_preview">
			<object data="{{ url_for('static',filename='svg/pattern.svg') }}" type="image/svg+xml"></object>
		</div>
		

	</div>


	<div class="ui modal">
		<i class="close icon"></i>
		<div class="header">Cut your image!</div>
		<div class="image content">
			<div class="ui medium image"><img src="{{ url_for('static',filename='svg/pattern.svg') }}"></div>
			<div class="description">
				<div class="ui header">Cutter Settings</div>
				<p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
				<p>Is it okay to use this photo?</p>
			</div>
		</div>
		<div class="actions">
			<div class="ui black deny button">Cancel</div>
			<div class="ui positive right labeled icon button">OK, let's cut!<i class="checkmark icon"></i></div>
		</div>
	</div>

</div>



<div id="mylightbox" class="hidden">
	<div id="cut_box">
		<a class="command" href="/move" data-direction="N">North</a>
		<a class="command" href="/move" data-direction="N">North</a>
		<a class="command" href="/move" data-direction="S">South</a>
		<a class="command" href="/move" data-direction="E">East</a>
		<a class="command" href="/move" data-direction="W">West</a>
		<a class="command" href="/cut">Cut!</a>
	</div>
</div>

<script type="text/javascript" language="javascript">
$('#button_cut').click(function() {
	$('.ui.modal').modal('show');
});

$(document).keydown(function(e) 
{
	if($('.featherlight').length)
	{
		switch(e.which) {
			case 32: // cut
			$.post( "/cut" );
			break;
			
			case 37: // left
			$.post( "/move", { direction: "W" } );
			break;

			case 38: // up
			$.post( "/move", { direction: "N" } );
			break;

			case 39: // right
			$.post( "/move", { direction: "E" } );
			break;

			case 40: // down
			$.post( "/move", { direction: "S" } );
			break;

			default: return; // exit this handler for other keys
		}
		e.preventDefault(); // prevent the default action (scroll / move caret)
	}
});
</script>

</body>
</html>